* {
    margin: 0;
    padding: 0;

}

#formulario-cliente, #formulario-vehiculo {
    width: 800px !important;
    margin: 60px auto ;
}

.fs-tipo-vehiculo {
    width: fit-content;
    margin: 10px auto 10px;
}